# Go build  
**/bin/
**/vendor/

# Editor
*.swp
*.swo
.idea/
.vscode/
.DS_Store 

# Local Terraform variable overrides
**/.terraform.lock.hcl 
**/terraform_local.tfvars  
**/.terraform*

*.tfstate
*.tfstate.backup
**/__pycache__/
